


* {
  box-sizing: border-box;
}
.col{
float: left;
padding: 10px;
width: 30%;
background-color:lightblue;
margin:5px;
}
.col:hover{
    background-color:rgb(212, 173, 230);  
    font-weight: bold;

}
.row::after{
clear:both;
content:"";
display:table;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col{
        width:100%
    }
aside 
{display:none;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.col{
    width:100%
}
aside 
{display:none;}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    .col{
        width:100%
    }
    aside 
{display:none;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .col{
      
        width: 40%;
    
        }
        aside 
        {display:auto;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .col{
      
        width: 30%;
    
        }
  
        aside 
        {display:auto;}
}